PORT=5173
MONGODB_URI=mongodb+srv://skillarion_admin:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=skillarion_meet
ADMIN_EMAIL=admin@SkillArionDevelopment.in
ADMIN_PASSWORD=change-this-admin-password

WHATSAPP_GRAPH_VERSION=v20.0
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_TEMPLATE_NAME=
WHATSAPP_TEMPLATE_LANGUAGE=en_US
